body {
    background-color: #F1F0EE;
    color: #fffdfd;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2em auto;
    max-width: 1100px;
    width: 100%;
    height: auto;
}

/* Media-queries - små skärmar */ 
@media (max-width: 768px) {
    main {
        margin: 2em auto;
    }
}